<div id="regolamento" class="simple clearfix">
    <div class="wrap">
        <div class="simple-content">
            <h3>Regolamento</h3>
            <ul>
                <li class="clearfix">
                    <img src="{{assets}}/images/ico1.png" height="16" width="16" alt="">
                    <span>Seleziona la tipologia del terreno del tuo percorso, premi il tasto start e corri.</span>
                </li>
                <li class="clearfix">
                    <img src="{{assets}}/images/ico1.png" height="16" width="16" alt="">
                    <span>Al termine della tua corsa premi il tasto stop, dai una nome alla tua sfida e lanciala invitando i tuoi amici via email.</span>
                </li>
                <li class="clearfix">
                    <img src="{{assets}}/images/ico1.png" height="16" width="16" alt="">
                    <span>I tuoi amici devono accettare la sfida nel tab dedicato alle sfide, selezionare la tipologia del terreno del loro percorso, premere start ad inizio corsa e stop per salvare la prestazione.</span>
                </li>
                <li class="clearfix">
                    <img src="{{assets}}/images/ico1.png" height="16" width="16" alt="">
                    <span>Potranno quindi decidere se utilizzare quella prestazione come risposta alla sfida che hanno accettato ed entrare quindi in classifica.</span>
                </li>
                <li class="clearfix">
                    <img src="{{assets}}/images/ico1.png" height="16" width="16" alt="">
                    <span>I tuoi amici potranno correre su qualsiasi percorso, quando vogliono e con qualunque condizione climatica, percorrendo una distanza che sia al massimo del 20% superiore od inferiore a quella che hai corso tu.</span>
                </li>
                <li class="clearfix">
                    <img src="{{assets}}/images/ico1.png" height="16" width="16" alt="">
                    <span>FantaRunning renderà confrontabili le diverse prestazioni armonizzando una serie di parametri (distanza percorsa, temperatura, umidit, altimetria fondo del terreno), come se tutti i partecipanti alla sfida avessero corso sullo stesso percorso nello stesso momento.</span>
                </li>
            </ul>
        </div>
        <div class="simple-img">
            <img src="{{assets}}/images//screen.png" height="508" width="587" alt="">
        </div>
    </div>
</div>